
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="images/favicon.png" rel="icon" />
<title>Account created successfully</title>
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
======================= -->
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900' type='text/css'>

<!-- Stylesheet
======================= -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<!-- Container -->
<div class="container-fluid invoice-container"> 

  <!-- Header -->
  <header>
    <div class="row align-items-center">
      <div class="col-sm-7 text-center text-sm-start mb-3 mb-sm-0"> <img style="background-color: #000;" id="logo" src="https://res.cloudinary.com/daniela1/image/upload/v1649104530/contact_huxdr5.jpg" width="100%" title="Varent Gold Investment" alt="Koice" /> </div>
      <div class="col-sm-5 text-center text-sm-end">
      </div>
    </div>
    <hr>
  </header>
  <main>
    <div>
      <h3 style="text-align: center;">Account Created successfully</h3>
    </div>
    <p>
        Your account creation was successful. Your dashboard is ready, up and running for investment.
          Login to your dashboard, start investing and earn more return on an investment (ROI) as your days 
          of investment is due.
        </p>
    <div style="z-index:1000;" class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table mb-0">
            <thead>
              <tr>
                <td class="col-8"><strong></strong></td>
                <td class="col-2 text-center"><strong></strong></td>
                <td class="col-2 text-end"><strong></strong></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>username</td>
                <td class="text-center"></td>
                <td class="text-center">{{username}}</td>
              </tr>
            </tbody>
			<tfoot class="card-footer">
                <tr>
                    <td>Password</td>
                    <td class="text-center"></td>
                    <td class="text-center">{{password}}</td>
                  </tr>
			</tfoot>
          </table>
        </div>
      </div>
    </div>
    <p>
      Stormwealth Investment has been in existence just for investment purpose and we are here to stay. 
      Stormwealth Investment is an established platform of highly skilled Personnels, who have acquired extensive
           practice experiences and credibility in Investment and Bitcoin trading. Stormwealth Investment
            has established a strong investment track record with expertise in conventional fund
             management. All subsidiaries of the Stormwealth Investment are wholly owned entities which are 
             regulated. As the assets under management continue to grow, 
              the Stormwealth Investment has expanded and evolved to facilitate this growth and to ensure that
               effective fund management of the highest standard continues to be entrenched in the
                companys mission to meet the needs of Stormwealth Investment's clients
                <br>
                <small>NOTE: If you didn't initate this email, please ignore it</small>
      </p>
              <!-- Footer -->
<footer style="background-color: #21282e; height: 50px; margin-top: 10px; color: white; text-align: center;" class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white"> 2019 Copyright:
      <a style="color: green;" href="#">stormwealthinvestment.com</a>
    </div>
  </main>
</div>

</body>
</html>