{% extends '../infinityapp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Get Password Reset Link{% endblock title %}


{% block content %}

<div>
  <div class="header-bg header-bg-1"></div>
<div class="position-fixed overflow-hidden" style="z-index: 2000;top: 0; right: 0">
  <div id="google-translate-element"></div>
</div>
<div class="fixed-top">
  <div class="appbar-area sticky-black">
    <div class="container">
      <div class="appbar-container">
        <div class="appbar-item appbar-page-title mx-auto mt-5">
          <h3>GET PASSWORD RESET LINK</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="body-content body-content-lg">
  <div class="container">
    <div class="container">

      <div class="page-header">
        <div class="page-header-title page-header-item">
          <h3>ENTER EMAIL TO RESET YOUR PASSWORD</h3>
        </div>
      </div>

      <br />
      {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-danger text-center" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% endif %}

      <br>


      <div class="authentication-form pb-15">
        <form action="." method="post" novalidate>
          {% csrf_token %}
          <div class="form-group pb-15">
            <label>ENTER YOUR EMAIL ADDRESS</label>
            {% if form.email.errors %} 
              <div class="alert alert-danger text-center" role="alert">
                {{ form.email.errors }}
              </div>
              {% endif %}
            <div class="input-group">
              {% render_field form.email placeholder="Email Address*" class="form-control" %}
            </div>
          </div>
          <button class="btn main-btn main-btn-lg full-width mb-10">SUBMIT</button>
        </form>
      </div>

    </div>
  </div>
</div>

</div>
{% endblock content %}






    <div id="login-page">
      <div class="container">
        <form class="form-login"  method="POST" role="form" >
        <div style="padding: 10px;" class="text-center pd-4">
          <a style="color: rgb(27, 27, 61)" href="{% url 'apexapp:home' %}">RETURN HOME</a>
          <!-- google translator -->
          <div id="google_translate_element"></div>
      </div>
          {% csrf_token %}
          <h2 style="background: #fff; color: #000" class="form-login-heading">
            ENTER YOUR EMAIL
          </h2>
          <br />
         
          <div class="login-wrap">
            <br />
            <button style="background: #2A3F65; color: #fff" class="btn btn-block" type="submit" >
            </i> SUBMIT
            </button>
            <hr />
            <div class="registration">
              Remeber Your Login Credentials?<br>
              <a  href="{% url 'userdashboard:login' %}">BACK TO LOGIN</a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript"> 
      function googleTranslateElementInit() { 
          new google.translate.TranslateElement(
              {pageLanguage: 'en'}, 
              'google_translate_element'
          ); 
      } 
  </script>
   <!-- Google tranlator -->
   <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'userdashboard/bitapp/assets/js/jquery.js' %}"></script>
    <script src="{% static 'userdashboard/bitapp/assets/js/bootstrap.min.js' %}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script
      type="text/javascript"
      src="{% static 'userdashboard/bitapp/assets/js/jquery.backstretch.min.js' %}"
    ></script>
  </body>
</html>