{% extends '../infinityapp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Password Change for {{ request.user }} {% endblock title %}


{% block content %}

<div>
  <div class="header-bg header-bg-1"></div>
<div class="position-fixed overflow-hidden" style="z-index: 2000;top: 0; right: 0">
  <div id="google-translate-element"></div>
</div>
<div class="fixed-top">
  <div class="appbar-area sticky-black">
    <div class="container">
      <div class="appbar-container">
        <div class="appbar-item appbar-page-title mx-auto mt-5">
          <h3>{{ request.user }} - PASSWORD CHANGE</h3>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="body-content body-content-lg">
  <div class="container">
    <div class="container">

      <div class="page-header">
        <div class="page-header-title page-header-item">
          <h3>{{ request.user }} - PASSWORD CHANGE</h3>
        </div>
      </div>

      <br />
      {% if messages %}
      {% for msg in messages %}
      <div class="alert alert-danger text-center" role="alert">
        {{ msg }}
      </div>
      {% endfor %}
      {% endif %}

      <br>


      <div class="authentication-form pb-15">
        <form action="." method="post" novalidate>
          {% csrf_token %}
          <div class="form-group pb-15">
            <label>Enter Old Password</label>
            {% if form.old_password.errors %}
            <div class="alert alert-danger text-center" role="alert">
                {{ form.old_password.errors}}
              </div>
            {% endif %}
            <div class="input-group">
              {% render_field form.old_password placeholder="Old Password*" class="form-control" %}
            </div>
          </div>

          <div class="form-group pb-15">
            <label>Enter New Password</label>
            {% if form.new_password1.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.new_password1.errors}}
              </div>
            {% endif %}
            <div class="input-group">
              {% render_field form.new_password1 placeholder="New Password*" class="form-control" %}
            </div>
          </div>

          <div class="form-group pb-15">
            <label>Confirm New Password</label>
            {% if form.new_password2.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.new_password2.errors}}
              </div>
            {% endif %}
            <div class="input-group">
              {% render_field form.new_password2 placeholder="Confirm New Password*" class="form-control" %}
            </div>
          </div>
          <div class="authentication-account-access pb-15">
            <div class="authentication-account-access-item">
              <div class="authentication-link">
                <a href="{% url 'password_reset' %}">Forget
                  password?</a>
              </div>
            </div>
          </div>
          <button class="btn main-btn main-btn-lg full-width mb-10">SUBMIT</button>
        </form>
      </div>

    </div>
  </div>
</div>

</div>
{% endblock content %}
