{% extends '../infinityapp/index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Password Reset - {{ request.user }} {% endblock title %}


{% block content %}

<div>
  <div class="header-bg header-bg-1"></div>
  <div class="position-fixed overflow-hidden" style="z-index: 2000;top: 0; right: 0">
    <div id="google-translate-element"></div>
  </div>
  <div class="fixed-top">
    <div class="appbar-area sticky-black">
      <div class="container">
        <div class="appbar-container">
          <div class="appbar-item appbar-page-title mx-auto mt-5">
            <h3>{{ request.user }} - PASSWORD RESET</h3>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="body-content body-content-lg">
    <div class="container">
      <div class="container">

        <div class="page-header">
          <div class="page-header-title page-header-item">
            <h3>{{ request.user }} - PASSWORD RESET</h3>
          </div>
        </div>

        <br />
        {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-danger text-center" role="alert">
          {{ msg }}
        </div>
        {% endfor %}
        {% endif %}

        <br>


        <div class="authentication-form pb-15">
          <form action="." method="post" novalidate>
            {% csrf_token %}

            {% if validlink %}

            <div class="form-group pb-15">
              <label>{{ form.new_password1.label_tag }}</label>
              {% if form.new_password1.errors %}
              <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
              {% endif %}
              <div class="input-group">
                {% render_field form.new_password1 class+="form-control" %}
              </div>
            </div>

            <div class="form-group pb-15">
              <label>{{ form.new_password2.label_tag }}</label>
              {% if form.new_password2.errors %}
              <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
              {% endif %}
              
              <div class="input-group">
                {% render_field form.new_password2 class+="form-control" %}
              </div>
            </div>
            <button class="btn main-btn main-btn-lg full-width mb-10">SUBMIT</button>
            <div class="registration">
              Have you remembered your Credentials?<br /><br />
              <a class="btn btn-block btn-danger" href="{% url 'userdashboard:login' %}"> CANCEL AND GO BACK TO LOGIN</a>
            </div>
          </form>
          {% else %}

          <p><span class="text-danger">The Password reset link is invalid, possibly because it has been used. Please
              request for
              a new password reset link
              <div class="registration">
                <a class="btn btn-block btn-primary" href="http://stormwealthinvestment.com/account/password_reset/">
                  REQUEST A NEW LINK</a>
              </div>
          </p>
          <hr />
          <div class="registration">
            <a class="btn btn-block btn-danger" href="{% url 'userdashboard:login' %}"> GO BACK TO LOGIN</a>
          </div>

          {% endif %}
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock content %}
