{% extends '../infinityapp/index.html' %}
{% load static %}

{% block title %} About Us{% endblock title %}

{% block content %}
<div class="banner-area" id="banner-area" style="background-image:url(../static/static/images/banner/banner1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="banner-heading">
                    <h1 class="banner-title">Terms and Conditions</h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'apexapp:home' %}">Home</a></li>
                        <li>Terms and Conditions</li>
                    </ol>
                </div>
            </div>
            <!-- Col end-->
        </div>
        <!-- Row end-->
    </div>
    <!-- Container end-->
</div>
<!-- Banner area end-->
<section class="main-container no-padding" id="main-container">
    <div class="about-pattern">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 about-desc">
                    <h2 class="column-title title-small"><span>About us</span>Making An Impact</h2>
                    <p>Since 2019, our influence in Investment Initiative has helped Investors sustainable business activities all across the globe. Our commitment provides investment and intellectual capital to develop solutions to Investors, businesses  and other environmental challenges. We focus on low-carbon energy, energy efficiency, and sustainable transportation, in addition to addressing water conservation, land use, and more.</p>
                    <div class="gap-15"></div>
                    <p>It’s an approach that consistently drives best decisions. And Stormwealth Investment, we carry out those decisions
                        free from the pressure of product bias.</p>
                </div>
                <!-- Col end-->
                <div class="col-lg-6 text-md-center mrt-40">
                    <img class="img-fluid" src="{% static 'static/images/pages/work_circle.png' %}" alt="">
                </div>
                <!-- Col end-->
            </div>
            <!-- Main row end-->
        </div>
        <!-- Container 1 end-->
    </div>
    <!-- About pattern End-->
</section>

    <!-- about section -->
  
    <section class="about_section layout_padding" id="about-us">
      <div class="container  ">
        <div class="row">
          <div class="col-md-12">
            <div class="detail-box">
              <h2>TERMS & CONDITIONS</h2>
                <p>
                    Use of the Website and all its resources indicates your willingness to abide by these Terms and Conditions.

                accessgrowthlimited.com can change the Terms and Conditions of this Website at any time, and the changes take effect immediately. You must check for changes in the Terms and Conditions for using the Website from time to time.

                Further, these Terms and Conditions complement any other agreements that might exist between you and accessgrowthlimited.com stipulating the use of the Website.
                </p>


                <h2>WEBSITE USAGE</h2>
                <p>
                  accessgrowthlimited.com  prohibits commercial use of the Website. Anyone downloading information from the Website for personal use must first sign a consent form agreeing that they shall not make changes to such information.
                </p>

                <h2>
                    INVESTMENT RECOMMENDATIONS
                </h2>
                <p>
                  accessgrowthlimited.com  investment plans have a high daily return on investment. Our fund is managed by experienced professionals from around the world, and we invest in lucrative markets such as Gold, oil, and forex, bonds, stock exchange and crypto.
                </p>

                <h2>
                    KEY TERMS
                </h2>
                <p>
                    Both institutional and individual investors can open an investment account with accessgrowthlimited.com . Individuals must have attained the legal contractual age of 18 years while institutions must be dully registered in the countries where they operate. Investors can not operate more than one investment account with the company. Additionally, If the rule is broken, accessgrowthlimited.com  reserve the right to close the account without returning the investment. Investors can credit their accounts through Perfect Money, Bitcoin, Litecoin, Ethereum , BitcoinCash, BitcoinGold, Dogecoin, Dash.
                    All the investment plans can earn interest which is computed every hour. Withdrawal requests are processed instantly notification from an investor has been received. Investors who recruit others into the program receive 15% commission on the investment made by the new member.
                </p>


                <h2>OWNERSHIP</h2>
                 <p>
                  accessgrowthlimited.com  owns the copyright to all the contents in this Website. However, trademarks, rating signs, and logos are owned by other companies that may or not be affiliated with accessgrowthlimited.com .
                 </p>

                <h2>PRIVACY POLICY</h2>
                 <p>
                    Users consent to keep all information and materials obtained willingly from accessgrowthlimited.com  in confidence. All the contents contained in this Website do not constitute an offer or aim to solicit for private investment where such acts are illegal or to individuals who are below the legal contractual age. accessgrowthlimited.com  will treat all members’ information with confidentiality. The company will not be liable for any loss of data affecting a member data due to their omission and commission.
                 </p>

                <h2>DISCLAIMER</h2>
                <p>
                    No action can arise from you against the company and its members. Investment is at the owner’s risk, and there is no relationship between past and future performance in profitability. All the information contained in this Website is for educational purposes and is not to be interpreted as investment advice.
                    accessgrowthlimited.com  may from time to time put in place changes affecting commission, rates, and rules without giving notice to the members. The changes are meant to enhance the Website’s security in the interest of the members. Members agree that is incumbent upon them to regularly check for such reviews affecting the operation of the Website.
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}